.sidebar {
    top: 0px;
    left: 0px;
    width: 400px;
    height: 1080px;
    /* UI Properties */
    background: #015249 0% 0% no-repeat padding-box;
    border-radius: 0px 20px 20px 0px;
    opacity: 1;
    margin: 0;
    padding: 100px 0px;
    }

    .logo
    {
        height: 100px;
        margin-left: 50px;
        background-image: url("../../assets/images.png");
        background-repeat: no-repeat;
        }
.abc
{
    margin-left: 50px;
        
}
    .btn
    {
        top: 229px;
        left: 40px;
        width: 296px;
        height: 69px;
        
        background: #043933 0% 0% no-repeat padding-box;
        box-shadow: 0px 5px 25px #00000040;
        border-radius: 10px;
        opacity: 1;
    }